{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% block wrapper %}
{# {{ kint(element) }} #}
{% set form = element %}
  {# {{ kint(form.actions.submit) }} #}
<form{{ attributes }}>
  <div class="search-form-wrapper">
    {{ form.keys }} 
  </div>
  {{ attribute(form, 'mobile-search-select') }}
  {# {{ kint(form.actions.submit['#attributes']) }} #}
  {{ form.actions }}

  {{ form.scope }}
</form>
{# </div> #}
{% endblock wrapper %}
