{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.search: Search region.
 * - page.thinstrip: Items for the thinstrip links.
 * - page.navigation: Items for the navigation region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first (Primary) sidebar.
 * - page.sidebar_second: Items for the second (Secondary) sidebar.
 * - page.footer: Items for the footer region.
 * - page.quicklinks: Itesm for the quicklinks region.
 *
 * Variables:
 * - current_year (string): calculated value of current year (YYYY).
 * - login_url (string): theme setting, the login url for the site.
 * - site_name (string): basic site setting, the site's name.
 * - site_slogan (string): basic site setting, the site's slogan.
 * - uw_drupal_theme_top_links_to_dropdowns (integer): theme setting, flag to
 *   repeat top level nav links as first children.
 * - uw_hero_image_front_path (string): theme setting, file path to uploaded
 *   hero image for front page.
 * - uw_hero_image_front_mobile_path (string): theme setting, file path for
 *   uploaded mobile hero for front page.
 * - uw_hero_image_other_path (string): theme setting, file path to uploaded
 *   hero image for non-front pages.
 * - uw_hero_image_other_mobile_path (string): theme setting, file path to
 *   uploaded mobile hero image for non-front pages.
 * - uw_hero_image_front_mobile (boolean): true if a mobile hero is uploaded.
 * - uw_hero_image_other_mobile (boolean): true if a mobile hero is uploaded.
 * - uw_hero_template_type (string): type of hero to display.
 * - uw_hero_image_path (string): file path to hero image to display.
 * - use_uw_hero_image_mobile (boolean): flag indicating a mobile hero should
 *   be used.
 * - uw_hero_banner (string): theme setting, text for banner in hero area.
 * - uw_hero_button_text (string): theme setting, text for button in hero area.
 * - uw_hero_button_link (string): theme setting, link for button in hero.
 * - uw_hero_subhead_text (string): theme setting, text for jumbotron hero.
 * - uw_hero_title_below (integer): theme setting, flag to show title beneath
 *   hero area.
 * - uw_front_page_title_color (string): theme setting, value for
 *   front page title color.
 * - uw_front_page_title_text_shadow (string): theme setting, value for shadow
 *   offset on front page title text.
 * - uw_front_page_slant_color (string): theme setting, color
 *   value for slant color on front page.
 * - uw_front_page_slogan_color (string): theme setting.
 * - uw_front_page_slogan_text_shadow (string): theme setting.
 * - uw_long_site_name (integer): theme setting, flag to indicate long site
 *   name in hero area.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if page.sidebar_first|render|striptags|trim|length <= 1 %}
  {% set sidebar_first = false %}
{% else %}
  {% set sidebar_first = page.sidebar_first|render %}
{% endif %}
{% set sidebar = (sidebar_first or page.sidebar_second) ? true : false %}
{% if page.quicklinks|render|striptags|trim|length >=1 %}
  {% set quicklinks_show = true %}
{% endif %}

{% include '@uw_drupal_theme/includes/uwsearcharea.html.twig' %}

<div id="page" class="site">
  {% if quicklinks_show %}
  <nav id="quicklinks" aria-label="quick links" aria-hidden="true">
    {{ page.quicklinks }}
  </nav>
  {% endif %}
  <div id="page-inner">
    <header id="masthead" class="site-header">
      <div class="navbar navbar-expand-lg">
        <div class="navbar-brand site-branding">
          <a href="https://www.washington.edu" title="University of Washington Home" class="uw-patch" tabindex="0">University of Washington</a>
          <a href="https://www.washington.edu" title="University of Washington Home" class="uw-wordmark" tabindex="-1" aria-hidden="true">University of Washington</a>
        </div><!-- .site-branding -->

        <div id="site-navigation" class="main-navigation" aria-label="Main menu">
          <div class="audience-menu-container collapse navbar-collapse">
            {% if page.thinstrip %}
              {{ page.thinstrip }}
            {% else %}
              <ul id="purple-bar" class="navbar-menu menu">
                <li class="menu-item"><a href="https://uw.edu/studentlife/">Students</a></li>
                <li class="menu-item"><a href="https://uw.edu/parents/">Parents</a></li>
                <li class="menu-item"><a href="https://uw.edu/facultystaff/">Faculty &amp; Staff</a></li>
                <li class="menu-item"><a href="https://uw.edu/alumni/">Alumni</a></li>
              </ul>
            {% endif %}
          </div>
          <div id="search-quicklinks">
{#            {% if page.search %}#}
{#            <button class="uw-search" data-toggle="collapse" data-target="#uwsearcharea" aria-controls="uwsearcharea" aria-expanded="false" aria-label="open search area" aria-haspopup="true">#}
            <button class="uw-search" aria-owns="uwsearcharea" aria-controls="uwsearcharea" aria-expanded="false" aria-label="open search area" aria-haspopup="true">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="19px" height="51px" viewBox="0 0 18.776 51.062" enable-background="new 0 0 18.776 51.062" xml:space="preserve" focusable="false">
                <g>
                  <path fill="#FFFFFF" d="M3.537,7.591C3.537,3.405,6.94,0,11.128,0c4.188,0,7.595,3.406,7.595,7.591 c0,4.187-3.406,7.593-7.595,7.593C6.94,15.185,3.537,11.778,3.537,7.591z M5.245,7.591c0,3.246,2.643,5.885,5.884,5.885 c3.244,0,5.89-2.64,5.89-5.885c0-3.245-2.646-5.882-5.89-5.882C7.883,1.71,5.245,4.348,5.245,7.591z"></path>
                  <rect x="2.418" y="11.445" transform="matrix(0.7066 0.7076 -0.7076 0.7066 11.7842 2.0922)" fill="#FFFFFF" width="1.902" height="7.622"></rect>
                </g>
                <path fill="#FFFFFF" d="M3.501,47.864c0.19,0.194,0.443,0.29,0.694,0.29c0.251,0,0.502-0.096,0.695-0.29l5.691-5.691l5.692,5.691 c0.192,0.194,0.443,0.29,0.695,0.29c0.25,0,0.503-0.096,0.694-0.29c0.385-0.382,0.385-1.003,0-1.388l-5.692-5.691l5.692-5.692 c0.385-0.385,0.385-1.005,0-1.388c-0.383-0.385-1.004-0.385-1.389,0l-5.692,5.691L4.89,33.705c-0.385-0.385-1.006-0.385-1.389,0 c-0.385,0.383-0.385,1.003,0,1.388l5.692,5.692l-5.692,5.691C3.116,46.861,3.116,47.482,3.501,47.864z"></path>
              </svg>
            </button>
{#            {% endif %}#}
            {% if quicklinks_show %}
            <button class="uw-quicklinks" aria-haspopup="true" aria-expanded="false" aria-label="Open quick links" aria-controls="quicklinks" aria-owns="quicklinks">Quick Links
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15.63px" height="69.13px" viewBox="0 0 15.63 69.13" enable-background="new 0 0 15.63 69.13" xml:space="preserve" focusable="false">
                <polygon fill="#FFFFFF" points="12.8,7.776 12.803,7.773 5.424,0 3.766,1.573 9.65,7.776 3.766,13.98 5.424,15.553 12.803,7.78"></polygon>
                <polygon fill="#FFFFFF" points="9.037,61.351 9.036,61.351 14.918,55.15 13.26,53.577 7.459,59.689 1.658,53.577 0,55.15 5.882,61.351 5.882,61.351 5.884,61.353 0,67.557 1.658,69.13 7.459,63.019 13.26,69.13 14.918,67.557 9.034,61.353"></polygon>
              </svg>
            </button>
            {% endif %}
          </div><!-- search-quicklinks -->
        </div><!-- #site-navigation -->
      </div><!-- .navbar.navbar-expand-lg -->
    </header><!-- #masthead -->

    {% if page.navigation %}
      {{ page.navigation }}

      {% if uw_drupal_theme_top_links_to_dropdowns %}
        {{ attach_library('uw_drupal_theme/top-links-to-dropdowns') }}
      {% endif %}

    {% endif %}

    {% include '@uw_drupal_theme/includes/uw-hero-image.html.twig' %}

    <div class="container-fluid">
      {{ page.breadcrumb }}
    </div>
    <div class="container-fluid uw-body">
      {{ page.highlighted }}
      {{ page.help }}
      <div class="row">
        <main id="primary" class="site-main uw-body-copy col-md-{{ sidebar ? '8' : '12' }}" role="main">

          <div class="layout-content">
            {{ page.content }}
          </div> <!-- /.layout-content -->

        </main>

        {% if sidebar %}
        <aside id="secondary" class="primary-sidebar uw-sidebar col-md-4">
          {% if sidebar_first %}
            <section class="layout-sidebar-first" role="complementary">
              {{ sidebar_first }}
            </section>
          {% endif %}
          {% if page.sidebar_second %}
            <section class="layout-sidebar-second" role="complementary">
              {{ page.sidebar_second }}
            </section>
          {% endif %}
        </aside>
        {% endif %}
      </div> <!-- /.row -->
    </div> <!-- /.container -->
    {% include '@uw_drupal_theme/includes/footer.html.twig' %}
  </div> <!-- /#page--inner -->
</div> <!-- /#page.site -->
